img {
  border-radius: 20px;
  max-width: 100%;
  /* Que no se salga del contenedor */
  height: auto;
}

.letra {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.font {
  font-size: 24px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.texto {
  font-size: 24px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-left: 100px;
}

.contenedor {
    display: flex;
    flex-direction: wrap; /* Imagen arriba, texto debajo */
    gap: 20px;
    margin-left: 100px;
    align-items: flex-start;
  }

.contenedor2 {
  flex: 1;
  margin-left: 100px;
}

/* Ajustes para pantallas medianas (tablets) */
@media (max-width: 990px) {
  .contenedor {
    flex-direction: column; /* Imagen arriba, texto debajo */
    margin-left: 20px;
    margin-right: 20px;
  }

  .contenedor2 {
    margin-left: 0;
  }

  .font, .texto {
    font-size: 20px;
  }
}

/* Ajustes para pantallas pequeñas (celulares) */
@media (max-width: 600px) {
  .font, .texto {
    font-size: 18px;
  }
}