img {
  border-radius: 20px;
}

.letra {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/*Contenedor para acomodar la imagen primero junto con el espacio necesario*/
.contenedor {
  display: flex; /* Activa flexbox */
  flex-direction: row; /* Hace que el flex se aplique tipo linea, osea a la derecha de mi imagen*/
   /* Espacio entre todos los elementos dentro del contenedor */
  margin-left: 100px;
}

.contenedor2 {
  margin-left: 100px;
}

.font {
    font-size: 24px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.texto {
    font-size: 24px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-left: 100px;
}